<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzpgphFhny-PWhwVsMqNMIuD8mw7p2yww</string>
	<key>GCM_SENDER_ID</key>
	<string>4655710020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inferno.infernoapp</string>
	<key>PROJECT_ID</key>
	<string>inferno-1a6a8</string>
	<key>STORAGE_BUCKET</key>
	<string>inferno-1a6a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4655710020:ios:239fd71f0b477acf262111</string>
</dict>
</plist>